@model Slider
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create slider</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputName1" placeholder="Description">
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
              
                <div class="form-group">
                    <label>File upload</label>
                    <div class="input-group col-xs-12">
                        <input asp-for="ImageFile" class="form-control file-upload-info" placeholder="Upload Image">
                    </div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>